header{
		display: flex;
		
			justify-content: flex-end;
			align-content: center;
			align-items: center;

	}
.photo1 img{
	width: 32px;
	height: 32px;
	margin: 10px;
	padding: : 0 10px 0 10px;
}
.gmail a{
	margin: 10px;
	padding: : 0 10px 0 10px;
}